%div.row-fluid{ style: "min_width: 1000px;" }
	%div.span12
		%div.navbar.navbar-static-top
			%div.navbar-inner
				%a.brand{href: "#"} Blog Test
				%ul.nav
					%li
						=link_to "Edit Blog Posts", "http://google.com"
					%li
					%li